@font-face {
  font-family: "HelveticaBlack";
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"), url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaBlackItalic";
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot");
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HelveticaBold/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaBoldItalic";
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot");
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaHeavy";
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot");
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavy/HelveticaHeavy.woff") format("woff"), url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaHeavyItalic";
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaItalic";
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot");
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"), url("../fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/HelveticaLight/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaLightItalic";
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot");
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaMedium";
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"), url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaMediumItalic";
  src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot");
  src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"), url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaThin";
  src: url("../fonts/HelveticaThin/HelveticaThin.eot");
  src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"), url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaThinItalic";
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot");
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaUltralight";
  src: url("../fonts/HelveticaUltralight/HelveticaUltralight.eot");
  src: url("../fonts/HelveticaUltralight/HelveticaUltralight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltralight/HelveticaUltralight.woff") format("woff"), url("../fonts/HelveticaUltralight/HelveticaUltralight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaUltraLightItalic";
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Road Radio Thin';
  src: url("../fonts/RoadRadio-Thin.eot");
  src: url("../fonts/RoadRadio-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/RoadRadio-Thin.woff") format("woff"), url("../fonts/RoadRadio-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Road Radio Light';
  src: url("../fonts/RoadRadio-Light.eot");
  src: url("../fonts/RoadRadio-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RoadRadio-Light.woff") format("woff"), url("../fonts/RoadRadio-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Road Radio Regular';
  src: url("../fonts/RoadRadio.eot");
  src: url("../fonts/RoadRadio.eot?#iefix") format("embedded-opentype"), url("../fonts/RoadRadio.woff") format("woff"), url("../fonts/RoadRadio.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Road Radio Bold';
  src: url("../fonts/RoadRadio-Bold.eot");
  src: url("../fonts/RoadRadio-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RoadRadio-Bold.woff") format("woff"), url("../fonts/RoadRadio-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Road Radio Black';
  src: url("../fonts/RoadRadio-Black.eot");
  src: url("../fonts/RoadRadio-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/RoadRadio-Black.woff") format("woff"), url("../fonts/RoadRadio-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "HelveticaMedium";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  Cache-Control: max-age=2592000, public;
}

*::-moz-selection {
  background: rgba(252, 40, 59, 0.8);
}

*::selection {
  background: rgba(252, 40, 59, 0.8);
}

body {
  background-color: #05142f;
  overflow-x: hidden;
}

.link {
  text-decoration: none;
  color: white;
  position: relative;
}

.link:hover::after {
  width: 100%;
  left: 0;
}

.link::after {
  position: absolute;
  content: '';
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 0;
  height: 1px;
  background-color: #fff;
  left: 50%;
  bottom: -5px;
}

.arrow {
  position: absolute;
  z-index: -1;
}

.arrow--type-1 {
  -webkit-transform: translateY(-50%) rotateZ(180deg);
          transform: translateY(-50%) rotateZ(180deg);
  left: 0;
}

.arrow--type-2 {
  right: 0;
}

.button {
  background-color: #fc283b;
  color: white;
  border: 1px solid #fc283b;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  padding: 23px 32px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-align: center;
}

.button::after {
  content: '';
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  width: 0;
  bottom: -1px;
  height: 3px;
  background: #f7f7f7;
  left: 50%;
}

.button:hover::after {
  left: -1px;
  width: calc(100% + 2px);
}

.section {
  background-color: #e4eeff;
  position: relative;
  z-index: 2;
  margin-top: 43px;
}

.red-text {
  color: #fc283b;
  font-family: 'Road Radio Light';
}

.container {
  width: 1170px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  margin: 0;
  font-family: 'Road Radio Light';
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-container .social-link {
  margin-right: 35px;
}

.hidden {
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.toFadeIn {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header {
  height: 892px;
  position: relative;
}

.header .container .upper-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 34px 0;
}

.header .container .upper-part .nav__link {
  margin-right: 55px;
  font-size: 14px;
  line-height: 20px;
}

.header .container .upper-part .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header .container .upper-part .contacts__phone {
  font-size: 23px;
  color: #fc283b;
  margin-bottom: 7px;
}

.header .container .upper-part .contacts__call {
  font-size: 13px;
  color: #fc283b;
  position: relative;
  text-decoration: none;
}

.header .container .upper-part .contacts__call::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #fc283b;
}

.header .container .lower-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .lower-part .left-part .text__title {
  white-space: nowrap;
  font-size: 65px;
  width: 0;
  line-height: 70px;
  margin-bottom: 15px;
  font-family: 'Road Radio Black';
}

.header .container .lower-part .left-part .text .red-text {
  font-family: 'Road Radio Black';
}

.header .container .lower-part .left-part .text__subtitle {
  max-width: 500px;
  line-height: 26px;
  font-family: 'Road Radio Light';
}

.header .container .lower-part .left-part .buttons {
  margin-top: 45px;
}

.header .container .lower-part .left-part .buttons__button {
  margin-right: 20px;
}

.header .container .lower-part .left-part .social-container {
  margin-top: 110px;
}

.header .container .lower-part .right-part .labtop {
  width: 585px;
  position: relative;
}

.header .container .lower-part .right-part .labtop .all-dotes {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header .container .lower-part .right-part .labtop .all-dotes .dotes {
  position: absolute;
  z-index: 3;
}

.header .container .lower-part .right-part .labtop .all-dotes .dotes:nth-child(3) {
  right: 340px;
  top: 135px;
}

.header .container .lower-part .right-part .labtop .all-dotes .dotes:nth-child(3) .dot {
  position: absolute;
  right: 0;
  top: 0;
}

.header .container .lower-part .right-part .labtop .all-dotes .dotes:nth-child(2) {
  right: 165px;
  top: 530px;
}

.header .container .lower-part .right-part .labtop .all-dotes .dotes:nth-child(2) .dot {
  position: absolute;
  right: 0;
  top: 0;
}

.header .container .lower-part .right-part .labtop .all-dotes .dotes:nth-child(1) {
  right: -55px;
  top: 180px;
}

.header .container .lower-part .right-part .labtop .all-dotes .dotes:nth-child(1) .dot {
  position: absolute;
  right: 0;
  top: 0;
}

.header .container .lower-part .right-part .labtop__stripe {
  position: absolute;
  left: 28%;
  top: 62%;
  width: 550px;
  height: 50px;
  background-color: #fc283b;
  -webkit-transform: rotateZ(-2deg);
          transform: rotateZ(-2deg);
}

.header .container .lower-part .right-part .labtop__image {
  position: relative;
}

.header .container .lower-part .right-part .labtop__screen {
  display: none;
}

.header .container .lower-part .right-part .labtop__shadow {
  position: absolute;
  left: -40%;
}

.header .container .lower-part .right-part .labtop::after {
  content: '';
  background-image: url("../images/header/screen_CHANGE_THIS.png");
  width: 405px;
  height: 338px;
  display: block;
  position: absolute;
  top: 30px;
  right: -39px;
}

.main .products {
  position: relative;
}

.main .products .arrow--type-1 {
  top: 100%;
}

.main .products .arrow--type-2 {
  top: -50%;
}

.main .products__title {
  font-size: 30px;
}

.main .products .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 125px 0;
}

.main .products .container .buttons {
  margin-top: 40px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}

.main .products .container .buttons__button {
  padding: 15px 25px;
  letter-spacing: 0.4px;
  text-transform: none;
  margin-right: 15px;
}

.main .products .container .gallery-button--active::after {
  content: '';
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  width: calc(100% + 2px);
  bottom: -1px;
  height: 3px;
  background: #f7f7f7;
  left: -1px;
}

.main .products .container .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .products .container .gallery .product {
  position: relative;
  width: 370px;
  height: 370px;
  -webkit-perspective: 2000px;
          perspective: 2000px;
}

.main .products .container .gallery .product__image {
  position: absolute;
  width: 370px;
  height: 370px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  left: 0;
  top: 0;
  background-size: cover;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.main .products .container .gallery .product__image--slide-2, .main .products .container .gallery .product__image--slide-3, .main .products .container .gallery .product__image--slide-4 {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.main .products .container .gallery .product:nth-child(1) .product__image--slide-1 {
  background-image: url("../images/products/slide-1-image-1.png");
}

.main .products .container .gallery .product:nth-child(1) .product__image--slide-2 {
  background-image: url("../images/products/slide-2-image-1.png");
}

.main .products .container .gallery .product:nth-child(1) .product__image--slide-3 {
  background-image: url("../images/products/slide-3-image-1.png");
}

.main .products .container .gallery .product:nth-child(1) .product__image--slide-4 {
  background-image: url("../images/products/slide-4-image-1.png");
}

.main .products .container .gallery .product:nth-child(2) .product__image--slide-1 {
  background-image: url("../images/products/slide-1-image-2.png");
}

.main .products .container .gallery .product:nth-child(2) .product__image--slide-2 {
  background-image: url("../images/products/slide-2-image-2.png");
}

.main .products .container .gallery .product:nth-child(2) .product__image--slide-3 {
  background-image: url("../images/products/slide-3-image-2.png");
}

.main .products .container .gallery .product:nth-child(2) .product__image--slide-4 {
  background-image: url("../images/products/slide-4-image-2.png");
}

.main .products .container .gallery .product:nth-child(3) .product__image--slide-1 {
  background-image: url("../images/products/slide-1-image-3.png");
}

.main .products .container .gallery .product:nth-child(3) .product__image--slide-2 {
  background-image: url("../images/products/slide-2-image-3.png");
}

.main .products .container .gallery .product:nth-child(3) .product__image--slide-3 {
  background-image: url("../images/products/slide-3-image-3.png");
}

.main .products .container .gallery .product:nth-child(3) .product__image--slide-4 {
  background-image: url("../images/products/slide-4-image-3.png");
}

.main .products .container .gallery .product__title {
  position: absolute;
  display: block;
  width: 300px;
  top: 380px;
  font-size: 23px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  z-index: 2;
  font-family: "HelveticaRegular";
}

.main .products .container .gallery .product__title--slide-2, .main .products .container .gallery .product__title--slide-3, .main .products .container .gallery .product__title--slide-4 {
  display: none;
}

.main .products .container .gallery .product::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 30%;
  z-index: 1;
}

.main .products .container .bottom-button {
  margin-top: 100px;
  max-width: 277px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pluses {
  padding: 77px 0;
}

.pluses .container .pluses__title {
  color: black;
}

.pluses .container .inner-container {
  margin-top: 70px;
}

.pluses .container .inner-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pluses .container .inner-container .row:first-child {
  margin-bottom: 131px;
}

.pluses .container .inner-container .row .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 358px;
}

.pluses .container .inner-container .row .plus-text {
  margin-left: 25px;
}

.pluses .container .inner-container .row .plus-text__title {
  color: black;
  font-size: 20px;
}

.pluses .container .inner-container .row .plus-text__description {
  color: #2c2c2c;
  font-size: 16px;
  line-height: 23px;
  font-family: "HelveticaLight";
}

.steps {
  position: relative;
}

.steps .arrow--type-1 {
  top: 113.5%;
}

.steps .arrow--type-2 {
  top: -35%;
}

.steps .container {
  margin-top: 94px;
}

.steps .container .steps__title {
  font-size: 30px;
}

.steps .container .iron-man {
  position: relative;
}

.steps .container .iron-man .hidden {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(0.2) translateY(100%);
          transform: scale(0.2) translateY(100%);
}

.steps .container .iron-man .visible {
  -webkit-transform: scale(0.7) translateY(0%);
          transform: scale(0.7) translateY(0%);
}

.steps .container .iron-man__image {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  display: block;
  margin: auto;
}

.steps .container .iron-man .steps-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps .container .iron-man .steps-row--1 {
  top: 100px;
  left: 40px;
  width: 1104px;
}

.steps .container .iron-man .steps-row--1 .hidden:nth-child(1) {
  -webkit-transform: translateX(-500%);
          transform: translateX(-500%);
}

.steps .container .iron-man .steps-row--1 .hidden:nth-child(2) {
  -webkit-transform: translateX(500%);
          transform: translateX(500%);
}

.steps .container .iron-man .steps-row--1 .visible:nth-child(1), .steps .container .iron-man .steps-row--1 .visible:nth-child(2) {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.steps .container .iron-man .steps-row--1 .step:nth-child(1)::before, .steps .container .iron-man .steps-row--1 .step:nth-child(1)::after {
  left: 240px;
  top: 75px;
}

.steps .container .iron-man .steps-row--1 .step:nth-child(2)::before, .steps .container .iron-man .steps-row--1 .step:nth-child(2)::after {
  left: -50px;
  top: 80px;
}

.steps .container .iron-man .steps-row--2 {
  top: 379px;
  width: 1168px;
}

.steps .container .iron-man .steps-row--2 .hidden:nth-child(1) {
  -webkit-transition: 1.75s;
  transition: 1.75s;
  -webkit-transform: translateX(-1000%);
          transform: translateX(-1000%);
}

.steps .container .iron-man .steps-row--2 .hidden:nth-child(2) {
  -webkit-transition: 1.75s;
  transition: 1.75s;
  -webkit-transform: translateX(1000%);
          transform: translateX(1000%);
}

.steps .container .iron-man .steps-row--2 .visible:nth-child(1), .steps .container .iron-man .steps-row--2 .visible:nth-child(2) {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.steps .container .iron-man .steps-row--2 .step:nth-child(1)::before, .steps .container .iron-man .steps-row--2 .step:nth-child(1)::after {
  left: 260px;
  top: 75px;
}

.steps .container .iron-man .steps-row--2 .step:nth-child(2)::before, .steps .container .iron-man .steps-row--2 .step:nth-child(2)::after {
  left: -50px;
  top: 70px;
}

.steps .container .iron-man .steps-row--3 {
  top: 693px;
  left: 40px;
  width: 1104px;
}

.steps .container .iron-man .steps-row--3 .hidden:nth-child(1) {
  -webkit-transition: 2.5s;
  transition: 2.5s;
  -webkit-transform: translateX(-2000%);
          transform: translateX(-2000%);
}

.steps .container .iron-man .steps-row--3 .hidden:nth-child(2) {
  -webkit-transition: 2.5s;
  transition: 2.5s;
  -webkit-transform: translateX(2000%);
          transform: translateX(2000%);
}

.steps .container .iron-man .steps-row--3 .visible:nth-child(1), .steps .container .iron-man .steps-row--3 .visible:nth-child(2) {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.steps .container .iron-man .steps-row--3 .step:nth-child(1)::before, .steps .container .iron-man .steps-row--3 .step:nth-child(1)::after {
  left: 200px;
  top: -30px;
}

.steps .container .iron-man .steps-row--3 .step:nth-child(2)::before, .steps .container .iron-man .steps-row--3 .step:nth-child(2)::after {
  left: -80px;
  top: 10px;
}

.steps .container .iron-man .steps-row .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 250px;
  position: relative;
}

.steps .container .iron-man .steps-row .step::before, .steps .container .iron-man .steps-row .step::after {
  content: '';
  position: absolute;
}

.steps .container .iron-man .steps-row .step::before {
  width: 10px;
  height: 10px;
  background-color: #fc283b;
  border-radius: 50%;
}

.steps .container .iron-man .steps-row .step::after {
  width: 30px;
  height: 30px;
  border: 2px solid #fc283b;
  border-radius: 50%;
  -webkit-transform: translateX(-12px) translateY(5px) translateY(-50%);
          transform: translateX(-12px) translateY(5px) translateY(-50%);
}

.steps .container .iron-man .steps-row .step__title {
  display: block;
  width: 60px;
  height: 60px;
  padding-top: 15px;
  font-family: "HelveticaRegular";
  font-style: 33px;
  text-align: center;
  background-color: #fc283b;
  margin-bottom: 21px;
}

.steps .container .iron-man .steps-row .step__subtitle {
  font-size: 16px;
  color: white;
  text-align: center;
  width: 262px;
  font-family: "HelveticaLight";
}

.about-us {
  margin-top: 135px;
}

.about-us .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us .container .left-part__title {
  font-size: 30px;
}

.about-us .container .left-part__description {
  font-size: 18px;
  color: white;
  line-height: 25px;
  font-family: "HelveticaRegular";
}

.about-us .container .left-part .squares .row {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us .container .left-part .squares .row .square {
  margin-right: 155px;
}

.about-us .container .left-part .squares .row .square .frame {
  white-space: nowrap;
  width: 131px;
  height: 131px;
  border: 17px solid #fc283b;
  -webkit-box-shadow: 0 0 20px rgba(252, 40, 59, 0.2);
          box-shadow: 0 0 20px rgba(252, 40, 59, 0.2);
}

.about-us .container .left-part .squares .row .square .frame__title {
  font-size: 45px;
  margin-left: 17px;
  margin-top: 7px;
  font-family: "HelveticaBold";
}

.about-us .container .left-part .squares .row .square .frame__subtitle {
  font-size: 14px;
  margin: 0;
  margin-left: 20px;
  color: #c9c9c9;
  font-family: "HelveticaLight";
}

.tasks {
  margin-top: 180px;
  margin-bottom: 235px;
  position: relative;
}

.tasks .arrow--type-1 {
  top: 170%;
}

.tasks .arrow--type-2 {
  top: -53%;
}

.tasks .container .solutions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tasks .container .tasks__title {
  font-size: 30px;
}

.tasks .container .hidden:first-child {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.tasks .container .hidden:last-child {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.tasks .container .visible:first-child, .tasks .container .visible:last-child {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.tasks .container .solution {
  margin-top: 37px;
  width: 570px;
}

.tasks .container .solution:first-child .top {
  background-image: linear-gradient(59deg, #102d63 0%, #174089 100%);
}

.tasks .container .solution:last-child .top {
  background-image: linear-gradient(59deg, #fc283c 0%, #ff3c4d 100%);
}

.tasks .container .solution:last-child .bottom .option .left-side .check {
  border: 1px solid #fc283b;
}

.tasks .container .solution:last-child .bottom .option .left-side .check::after {
  background-color: #fc283b;
}

.tasks .container .solution:last-child .bottom .option .left-side .description__title {
  color: #fc283b;
}

.tasks .container .solution:last-child .bottom .option__price {
  color: #fc283b;
}

.tasks .container .solution .top {
  padding: 35px 0;
  text-align: center;
}

.tasks .container .solution .top__title {
  font-size: 27px;
}

.tasks .container .solution .bottom {
  background-color: #fff;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tasks .container .solution .bottom .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
  cursor: pointer;
}

.tasks .container .solution .bottom .option .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks .container .solution .bottom .option .left-side .check {
  width: 20px;
  height: 20px;
  border: 1px solid #174089;
  position: relative;
}

.tasks .container .solution .bottom .option .left-side .description {
  margin-left: 20px;
}

.tasks .container .solution .bottom .option .left-side .description__title {
  font-size: 25px;
  font-family: 'Road Radio Regular';
  color: #164088;
}

.tasks .container .solution .bottom .option .left-side .description__subtitle {
  font-size: 16px;
  color: #333333;
  margin: 0;
}

.tasks .container .solution .bottom .option--active .check::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #174089;
  left: 4px;
  top: 4px;
}

.tasks .container .solution .bottom .option--hovered .check {
  background-color: rgba(0, 0, 0, 0.05);
}

.tasks .container .solution .bottom .option__price {
  color: #164089;
  font-size: 36px;
  font-family: "HelveticaBlack";
}

.tasks .container .solution .bottom .option .value {
  color: black;
  font-size: 18px;
  margin-left: 5px;
  font-family: "HelveticaMedium";
}

.tasks .container .solution .bottom__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 23px 63px;
}

.tasks .container .solution .bottom__button--blue {
  border: 1px solid #174089;
  background-color: #174089;
  color: white;
}

.section .partners .container {
  padding-top: 73px;
  padding-bottom: 113px;
}

.section .partners__title {
  font-size: 30px;
  color: black;
}

.section .partners .companies .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .partners .companies .row:first-child {
  margin-top: 78px;
}

.section .partners .companies .row:last-child {
  margin-top: 67px;
}

.questions {
  margin-top: 109px;
}

.questions__title {
  font-size: 30px;
}

.questions .questions-block {
  margin-top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions .questions-block .column .question {
  background-color: white;
  -webkit-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 18px rgba(0, 0, 0, 0.5);
  width: 570px;
  max-height: 55px;
  overflow: hidden;
  padding: 12px 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  cursor: pointer;
}

.questions .questions-block .column .question .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions .questions-block .column .question .top__title {
  color: #010101;
  font-size: 17px;
  font-family: "HelveticaLight";
}

.questions .questions-block .column .question .top__button {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  background-color: #fc283b;
  position: relative;
  outline: none;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.questions .questions-block .column .question .top__button:hover {
  background-color: #ee0318;
}

.questions .questions-block .column .question .top__button::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  -webkit-transform: translateX(-60%) translateY(-50%) rotateZ(-135deg);
          transform: translateX(-60%) translateY(-50%) rotateZ(-135deg);
}

.questions .questions-block .column .question__text {
  width: 480px;
  font-size: 15px;
  margin-bottom: 0;
  font-family: "HelveticaLight";
}

.questions .questions-block .column .question--active {
  max-height: 200px;
  -webkit-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
}

.questions .questions-block .column .question--active .top__button {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.form__title {
  font-size: 30px;
  margin-top: 180px;
  margin-bottom: 49px;
}

.form .inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form .left-side {
  max-width: 427px;
}

.form .left-side__description {
  color: #e7e7e7;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  font-family: "HelveticaLight";
}

.form .left-side__email-text {
  color: #e7e7e7;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  margin-top: 44px;
  font-family: "HelveticaLight";
}

.form .left-side__email {
  color: #fefefe;
  font-size: 19px;
  text-decoration: none;
  line-height: 22px;
  font-family: "HelveticaBold";
}

.form .left-side__phone-text {
  color: #e7e7e7;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  margin-top: 30px;
  font-family: "HelveticaLight";
}

.form .left-side__phone {
  color: #fefefe;
  font-size: 19px;
  text-decoration: none;
  line-height: 22px;
  font-family: "HelveticaBold";
}

.form .left-side .social-container {
  margin-top: 38px;
}

.form .right-side__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 670px;
}

.form .right-side__input {
  height: 55px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #fc283b;
  outline: none;
  padding-left: 10px;
  font-size: 18px;
  color: black;
  font-family: "HelveticaLight";
}

.form .right-side__input::-webkit-input-placeholder {
  color: #fc283b;
  font-family: "HelveticaLight";
}

.form .right-side__input:-ms-input-placeholder {
  color: #fc283b;
  font-family: "HelveticaLight";
}

.form .right-side__input::-ms-input-placeholder {
  color: #fc283b;
  font-family: "HelveticaLight";
}

.form .right-side__input::placeholder {
  color: #fc283b;
  font-family: "HelveticaLight";
}

.form .right-side__input:nth-last-child(2) {
  height: 200px;
  padding-bottom: calc(200px - 3rem);
}

.form .right-side__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 20px 32px;
  max-height: 55px;
}

.footer {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 124px;
}

.footer .arrow {
  bottom: 0;
  left: 0;
}

.footer .container {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .nav__link {
  margin-right: 55px;
}

.footer__button {
  width: 170px;
  padding: 17px 0;
}

@media (max-width: 1440px) {
  .header {
    height: 700px;
  }
  .header .container .lower-part {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .container .lower-part .left-part .text__title {
    font-size: 50px;
  }
  .header .container .lower-part .left-part .text .red-text {
    font-size: 50px;
  }
  .header .container .lower-part .right-part {
    -webkit-transform-origin: 50% 25%;
            transform-origin: 50% 25%;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 1440px) {
  .steps .container .iron-man {
    max-height: 650px;
  }
  .steps .container .iron-man .hidden {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(0.2) translateY(120%);
            transform: scale(0.2) translateY(120%);
  }
  .steps .container .iron-man .visible {
    -webkit-transform: scale(0.5) translateY(20%);
            transform: scale(0.5) translateY(20%);
  }
  .steps .container .iron-man__image {
    margin: 0 auto;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  .steps .container .iron-man .steps-row--1 {
    top: 50px;
    left: 40px;
    width: 1104px;
  }
  .steps .container .iron-man .steps-row--1 .step:nth-child(1)::before, .steps .container .iron-man .steps-row--1 .step:nth-child(1)::after {
    left: 240px;
    top: 75px;
  }
  .steps .container .iron-man .steps-row--1 .step:nth-child(2)::before, .steps .container .iron-man .steps-row--1 .step:nth-child(2)::after {
    left: -50px;
    top: 80px;
  }
  .steps .container .iron-man .steps-row--2 {
    top: 260px;
    width: 1168px;
  }
  .steps .container .iron-man .steps-row--2 .step:nth-child(1)::before, .steps .container .iron-man .steps-row--2 .step:nth-child(1)::after {
    left: 260px;
    top: 75px;
  }
  .steps .container .iron-man .steps-row--2 .step:nth-child(2)::before, .steps .container .iron-man .steps-row--2 .step:nth-child(2)::after {
    left: -50px;
    top: 70px;
  }
  .steps .container .iron-man .steps-row--3 {
    top: 490px;
    left: 40px;
    width: 1104px;
  }
  .steps .container .iron-man .steps-row--3 .step:nth-child(1)::before, .steps .container .iron-man .steps-row--3 .step:nth-child(1)::after {
    left: 200px;
    top: 0;
  }
  .steps .container .iron-man .steps-row--3 .step:nth-child(2)::before, .steps .container .iron-man .steps-row--3 .step:nth-child(2)::after {
    left: -80px;
    top: 10px;
  }
  .steps .container .iron-man .steps-row .step__title {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 1440px) {
  .about-us .container .right-part {
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 1440px) {
  .tasks {
    margin-bottom: 150px;
  }
  .tasks .container .hidden:first-child {
    -webkit-transform: translateX(-200%) scale(0.9);
            transform: translateX(-200%) scale(0.9);
  }
  .tasks .container .hidden:last-child {
    -webkit-transform: translateX(200%) scale(0.9);
            transform: translateX(200%) scale(0.9);
  }
  .tasks .container .visible:first-child, .tasks .container .visible:last-child {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .tasks .container .solution {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 1440px) {
  .hidden {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  .visible {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .toFadeIn {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
}
/*# sourceMappingURL=style.css.map */